.admin-bar {
  padding: 10px 10px;
  background: #666;
  color: #999;
  border-top: 2px solid #444;
  border-bottom: 2px solid #888;
}

.admin-bar__button {
  background: inherit;
  font: inherit;
  border: 1px solid #999;
  color: #eee;
  padding: 3px 5px;
  border-radius: 4px;
}
